@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {
    font-family: 'Playfair Display SC', sans-serif;
  }

/*------------NAV------------*/

.nav-header {
    
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: 10;
    /* padding-top: 5rem; */
    /* padding-right: 2rem; */
   
    
}

#link ul {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 5rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}

#link ul a {
    text-decoration: none;
    color: black;
    font-size: 2.4rem;
    font-weight: 500;
    text-shadow: -5px 2px #3f315a;
}

#link ul a:hover {
    text-shadow: -5px 2px #513f74;
}

/*-------------INTRO------------*/

.intro {
    height: 100vh;
}

.background {
    background-image: url('images/back_violet.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.me img {
    width: 15rem;
    float: left;
    padding-right: 2rem;
}

.me h1 {
    text-align: center;
    font-size: 2rem;
    padding-right: 5rem;
}

.me ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub_window{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 1.4rem;
    color: rgb(227, 227, 245);
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 10;
    box-shadow: -10px 12px 4px 0 #3f315a;
    background-color: #1e1e20;
    width: 60%;
    height: 70%;
}

.skills {
    text-align: center;
}

.skills ul {
    padding-top: 1rem;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem; */
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

/*----------------REVIEW-----------------*/

.review {
    background-color: #1e1e20;
    text-align: center;
    padding: 5rem;
    color: antiquewhite;

}

.review h1 {
    font-size: 3rem;
}

.works-review ul {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.work a {
    text-decoration: none;
    color: blueviolet;
    font-size: 3rem;
}

.work a:hover {
    text-shadow: -2px 1px #583899;
    text-decoration: underline;
}

/*---------------FOOTER-------------------*/

footer {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #44277e;
    font-size: 2rem;
}

footer img {
    width: 1.4rem;
}


footer a {
    color: #1e1e20;
}

footer a:hover {
    color: #20123d;
}


/*----------------Media---------------*/

@media (max-width: 600px) {
    body {
        height: 100vh
    }

    .intro {
        height: 65vh;
    }

    .review {
        height: 30vh;
    }

    .nav-header {
        position: absolute;
        top: 0;
        right: 0;
    }

    #link ul {
        top: 1rem;
        right: 1rem;
    }
    
    #link ul a {
        font-size: 1.2rem;
        text-shadow: -3px 1px #50318f;
    }
    
    #link ul a:hover {
        text-shadow: -3px 1px #d6cfe4;
    }

    .sub_window {
        display: block;
        width: 80%;
        height: 45%;
        margin: 0 auto;
        margin-right: 2rem;
        font-size: 75%;
        flex-grow: 1;
    }

    .me img {
        width: 5rem;
    }

    .review {
        margin: 0;
        padding: 0;

    }

    .review h1 {
        font-size: 1.4rem;
    }

    .works-review ul {
        padding-top: 1rem;
        gap: 0.6rem;
    }

    .work a {
        text-decoration: none;
        color: blueviolet;
        font-size: 1rem;
        
    }

    footer {
        gap: 2rem;
        height: 5vh;
        font-size: 0.6rem;
    }
    
    footer img {
        width: 1rem;
    }
    
}