{% extends 'recipe/layout.html' %}
{% load static %}

{% block main %}
    <!------------Main------------->
    <div class="container">
      <div class="recipe-description">
        <img src="{% static 'image/ali-choubin-I0B_QnY2VOQ-unsplash.jpg' %}" alt="dish" />
        <h1 class="headers">Delicious recipe</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi
          blanditiis laboriosam nihil consequuntur aperiam praesentium ullam
          possimus enim, libero est! Molestiae, adipisci! Incidunt excepturi
          corrupti culpa natus perferendis. Harum. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Tenetur aliquid laborum, molestias
          provident exercitationem omnis consequatur quo non obcaecati, quas
          architecto! Rerum cumque repellat laboriosam inventore suscipit quia
          dolores nulla. Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Tenetur aliquid laborum, molestias provident exercitationem
          omnis consequatur quo non obcaecati, quas architecto! Rerum cumque
          repellat laboriosam inventore suscipit quia dolores nulla. Lorem ipsum
          dolor sit amet consectetur, adipisicing elit. Tenetur aliquid laborum,
          molestias provident exercitationem omnis consequatur quo non
          obcaecati, quas architecto! Rerum cumque repellat laboriosam inventore
          suscipit quia dolores nulla. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Tenetur aliquid laborum, molestias provident
          exercitationem omnis consequatur quo non obcaecati, quas architecto!
          Rerum cumque repellat laboriosam inventore suscipit quia dolores
          nulla.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Tenetur aliquid laborum, molestias provident exercitationem omnis
          consequatur quo non obcaecati, quas architecto! Rerum cumque repellat
          laboriosam inventore suscipit quia dolores nulla.Lorem ipsum dolor sit
          amet consectetur, adipisicing elit. Tenetur aliquid laborum, molestias
          provident exercitationem omnis consequatur quo non obcaecati, quas
          architecto! Rerum cumque repellat laboriosam inventore suscipit quia
          dolores nulla. Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Tenetur aliquid laborum, molestias provident exercitationem
          omnis consequatur quo non obcaecati, quas architecto! Rerum cumque
          repellat laboriosam inventore suscipit quia dolores nulla.
        </p>
      </div>

    </div>
{% endblock %}